<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="WorkoutAppEntities" connectionString="metadata=res://*/TrackerModel.csdl|res://*/TrackerModel.ssdl|res://*/TrackerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IN5CG84056BF;initial catalog=WorkoutApp;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>