<form novalidate [formGroup]="frmWrk">
  <div class="form-group">
    <input type="text" name="title" id="title" formControlName="title" class="form-control" [ngClass]="{'is-valid':f.title.valid,'is-invalid':f.title.invalid && f.title.dirty}">
    <div *ngIf="f.title.invaild && f.title.dirty && f.title.errors?.required" class="invalid-feedback">
      Title is required
    </div>
  </div>
  <div class="form-group form-inline">
    <button type="submit" class="btn btn-success btn-lg">Edit</button>
    <button type="submit" class="btn btn-primary btn-lg">Delete</button>
    <button type="submit" class="btn btn-danger btn-lg">Start </button>
    <button type="submit" class="btn btn-info btn-lg">End</button>
  </div>
</form>
